<!doctype html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>プログラミング教室 - 町田市 成瀬・金森・小川</title>
  <meta name="description" content="「つくる」喜びを、子どもたちへ◆町田市金森センターかわせみでは、小学生から楽しくプログラミングを体験できます◆さあ、ご一緒にプログラミングをはじめてみませんか？" />
  <link rel="stylesheet" href="../css/bootstrap-custom.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='../style.css'>
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-140782462-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>

<body>
  <noscript>
    <p class="no-support">このWebページはJavaScriptを有効にすることで正常に動作します。
      <br>JavaScriptを有効にして再度ご来訪ください。</p>
  </noscript>
  <header>
    <div class="inner">
      <div class="container">
        <h1 class="sw-18 lh-sm mb-0">
          <span class="h6 ml-1">町田市金森センターかわせみ</span>
          <br><span class="h2 lh-md">プログラミング教室</span></h1>
      </div>
    </div>
  </header>
  <main role="main">
    <div class="container">
      <div class="d-lg-none">
        <a id="slidebar-open-abs" href="#" data-toggle="slidebar"><i class="fa fa-2x fa-bars"
            aria-hidden="true"></i></a>
      </div>
      <div class="row">
        <nav class="col-12 col-lg-3 d-none d-lg-block" role="navigation">
          <div class="inner">
            <h2>Menu</h2>
            <div class="menu-menu-container">
              <ul id="menu-menu" class="list-unstyled">
                <li class="menu-item"><a href="https://qwel.design/ac/" aria-current="page">初めての方へ</a></li>
                <li class="menu-item"><a href="https://qwel.design/ac/about/">プログラミング学習</a></li>
                <li class="menu-item"><a href="https://qwel.design/ac/plans/">料金とカリキュラム</a></li>
                <li class="menu-item"><a href="https://qwel.design/ac/schedule/">講座スケジュール</a></li>
                <li class="menu-item"><a href="https://qwel.design/ac/events/">特別講座のご案内</a></li>
                <li class="menu-item"><a href="https://qwel.design/ac/feature/">特集記事</a></li>
                <li class="menu-item"><a href="https://qwel.design/ac/profile/">講師紹介</a></li>
                <li class="menu-item"><a href="https://qwel.design/ac/contact/">お問い合わせ</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <section id="contents" class="col-12 col-lg-9">
          <div class="inner">
            <h2 class="mb-3">2019年 春の特別講座 マイクロビットで物作り!!</h2>
            <section class="mb-3">
              <p>「工作 + プログラミング」で、あなただけの特別なロボットを開発しよう！<br>2019年の春は、マイクロビットを使った工作とプログラミングの特別講座を開講します。<br>「マイクロビット
                (micro:bit)」とは、片手に収まる大きさのボードの形状をした小さなコンピューターで、ロボットから楽器まで、あらゆる種類のカッコいい作品を作るために使うことができます。可能性は無限大！！</p>
              <p>&nbsp;</p>
              <figure><img class="img-fluid" src="https://qwel.design/ac/images/figures/microbit-hardware-access.jpg" alt="micro:bit"></figure>
              <p>&nbsp;</p>
              <h3>マイクロビットの機能の数々</h3>
              <ul>
                <li>個々にプログラムできる25個のLED</li>
                <li>プログラム可能な2個のボタン</li>
                <li>物理的に接続するための端子</li>
                <li>光と温度のセンサー</li>
                <li>動きセンサー (加速度計とコンパス)</li>
                <li>無線機とBluetoothを通した無線通信</li>
              </ul>
              <p>LED(ライト)やボタンや各種センサーを備えていて、簡単にプログラム制御できます。<br>スクラッチやPython(パイソン)というプログラミング言語にも対応しています！！</p>
              <p>&nbsp;</p>
              <h3>日時</h3>
              <p>A日程 2019年3月26日(火) &#8211; 2019年3月27日(水) 15:00 &#8211; 17:00<br>B日程 2019年3月29日(金) &#8211; 2019年3月30日(土)
                15:00 &#8211; 17:00</p>
              <p>&nbsp;</p>
              <h3>会場</h3>
              <p>金森センターかわせみ</p>
              <p>&nbsp;</p>
              <h3>費用</h3>
              <p>受講料6,500円 (90分×2日分) + 教材費3,500円 (またはリース料1,500円)
                <br>教材の「マイクロビット」は様々な用途に使えるので、この機会にぜひお試しください！
                <br>※A・Bの両日程参加の場合、教材費のご負担は1回で済みます。
                <br>※教材内容: マイクロビット本体, 電池ボックス, サーボモーター</p>
              <p>&nbsp;</p>
              <h3>対象</h3>
              <p>当プログラミング教室の「入門講座」に1回以上参加された方を対象とします。<br>まだ「入門講座」を受講されていない希望者は、講座の日程までに必ず受講してください。<br>2019年春の特別講座前の「入門講座」は、3月9日・3月23日を予定しています。</p>
              <p>&nbsp;</p>
            </section>
            <a class="btn btn-primary d-block sw-18 mx-auto my-2" href="https://qwel.design/forms/entry/" target="_blank">入門講座のお申込みはこちら</a>
          </div>
        </section>
      </div>
    </div>
  </main>
  <aside role="complementary">
    <script id="slidebar-template" type="text/template">
			<div id="slidebar-overlay"></div>
			<div id="slidebar">
				<div id="slidemenu">
					<a id="slidebar-close" href="#" data-toggle="slidebar"><i class="fa fa-2x fa-close" aria-hidden="true"></i></a>
					<% _.each(data, function(ul, i){ %>
						<ul class="list-unstyled medium">
							<% _.each(ul, function(li, j){ %>
								<li><%= li.html %></li>
							<% }) %>
						</ul>
					<% }) %>
				</div>
			</div>
		</script>
  </aside>
  <div id="canvas-wrap"></div>
  <div id="cover-gradient"></div>
  <footer role="contentinfo">
    <small class="d-block py-4 text-center">&copy; 2019 TGCO</small>
  </footer>
  <script type='text/javascript' src='//code.jquery.com/jquery-1.11.0.min.js'></script>
  <script type='text/javascript' src='../js/lib/sketch.js'></script>
  <script type='text/javascript' src='../js/lib/underscore.js'></script>
  <script type='text/javascript' src='../js/lib/router.js'></script>
  <script type='text/javascript' src='../js/lib/custom.js'></script>
  <script type='text/javascript' src='../js/init.js'></script>
</body>

</html>
